@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

section {
  color: white;
  background-color: #003293;
  box-shadow: 2px 2px 3px gray;
  width: 100%;
  padding: 50px 0 40px;
}

h1 {
  font-family: 'Italianno', cursive;
  text-shadow: 2px 2px 10px gray;
}
