<!-- Immagine -->
<section>
  <img src={{immagine_1.path}} class="img-fluid" alt={{immagine_1.alt}}>
</section>

<!-- Testo per Schermi Grandi -->
<section class="testo big-text">
  <h3>{{testo.titolo}}</h3>
  <p>{{testo.descrizione}}</p>
</section>

<!-- Testo per Schermi Piccoli -->
<div class="container d-none small-text">
  <div class="row">
    <div class="col-lg-4 d-lg-block">
      <h3 class="text-sm">{{testo.titolo}}</h3>
      <p class="text-sm">{{testo.descrizione}}</p>
    </div>
  </div>
</div>

<!-- Immagine -->
<section>
  <img src={{immagine_2.path}} class="img-fluid" alt={{immagine_2.alt}}>
</section>

<!-- Recensioni -->
