<!-- Footer Superiore per Schermi Grandi -->
<section class="text-center big-footer-top">
  <a routerLink="./home">{{footer.home}}</a>
  <a routerLink="./chisiamo">{{footer.chisiamo}}</a>
  <a routerLink="./trattamenti">{{footer.trattamenti}}</a>
  <a routerLink="./contatti">{{footer.contatti}}</a>
</section>

<!-- Footer Superiore per Schermi Piccoli -->
<section class="text-center small-footer-top container d-none">
  <div class="row me-3">
    <div class="col d-flex flex-column">
      <a routerLink="./home">{{footer.home}}</a>
      <a routerLink="./chisiamo">{{footer.chisiamo}}</a>
    </div>
    <div class="col d-flex flex-column me-4">
      <a routerLink="./trattamenti">{{footer.trattamenti}}</a>
      <a routerLink="./contatti">{{footer.contatti}}</a>
    </div>
  </div>
</section>
